.main{
    margin: 30px;
    background-color: white;
    background-image: url('/images/background.jpg')
}
.form-group{
    margin-top: 15px;
}

.media-object{
    width: 38px;
    height: 38px;
}
.test-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile{
    margin: 30px;
    background-color: white;
}

.profile .section{
    margin-top: 15px;
}

.community-menu{
    color: #9999;
    font-size: 13px;
}

.jumbotron{
    margin: 50px;
    background-color: white;
}

.comment{
    color: #999;
}

.comment .icon{
    cursor:pointer;
}

.comment .active{
    cursor:pointer;
    color: #499ef3;
}

/*鼠标悬浮是颜色改变*/
.comment .icon:hover{
    color: #499ef3;
}

.comments{
  margin-bottom: 15px;
    border-bottom: 1px solid #999;
    padding-bottom: 5px;
}

#comment_section{
    margin-top: 15px;
}


.sub-comment{
    border-radius: 8px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
}

.sub-comment .btn{
    float: right;
    margin-top: 8px;
}

.question-tag{
    margin-right: 6px;
}

#question-related{
    line-height: 20px;
    font-size: 14px;
    margin-left: 0;
    list-style: none;
    padding-left: 0;
}

#selectTags .label-info{
    margin-right: 10px;
    cursor:pointer;
    white-space: normal;   //自动换行
    display: inline-block;
    margin: 10px 5px;
}

#selectTags
{
    margin-top: 8px;
    display: none;
    padding-top: 10px;
}

