<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="/js/jquery-3.1.1.min.js"></script>          <!--引用bootstrap之前就应该先引用jquery-->
    <script src="/js/bootstrap.js"></script>
    <script src="/js/community.js"></script>
    <script src="/js/moment.js"></script>
    <link rel="stylesheet" href="/css/editormd.preview.css">
    <script src="/js/editormd.js"></script>
    <script src="/js/lib/prettify.min.js"></script>
    <script src="/js/lib/marked.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/community.css">

    <title th:text="${question.title}">个人中心</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<!--问题详情页面-->
<body style="background-color: #efefef" >
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid profile" >
    <div class="row">
        <!--        正文-->
        <div class="col-lg-9 col-md-12 col-sm-9 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-9 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-9 col-xs-12">
                <h3><span th:text="${question.title}"></span>&nbsp</h3>
                <span class="test-desc">
                作者：<span th:text="${question.user.getName()}"></span>
                |  阅读数：<span th:text="${question.getView_count()}"></span>
                |  发布时间：<span th:text="${#dates.format(question.gmt_create,'yyyy-MM-dd HH:mm')}"></span>
            </span>
                <HR class="col-lg-12 col-md-12 col-sm-9 col-xs-12" align=center width="100%" color=#fffff SIZE=2>
                <div class="col-lg-12 col-md-12 col-sm-9 col-xs-12" id="question-view">
                    <textarea th:text="${question.getDescription()}" style="display:none;">

                    </textarea>
                    <!-- 得到描述-->
                </div>
                <script type="text/javascript">
                    $(function() {
                        editormd.markdownToHTML("question-view", {

                        });
                    });
                </script>


                <HR align=center color=#fffff class="col-lg-12 col-md-12 col-sm-9 col-xs-12" style="margin-bottom: 5px">
            </div>
                <div class="col-lg-12 col-md-12 col-sm-9 col-xs-12">
                    <!--标签库-->
                    <span class="label label-info question-tag" th:each="tag:${question.tag.split(',')}">
                        <span class="glyphicon glyphicon-tags"></span>
                <span class="label label-info" th:text="${tag}"></span>
                    </span>
                <HR align=center color=#fffff class="col-lg-12 col-md-12 col-sm-9 col-xs-12" style="margin-bottom: 5px">
                </div>
<!--                编辑-->
                <div class="col-lg-12 col-md-12 col-sm-9 col-xs-12">
            <a th:href="@{'/publish/'+${question.id}}" class="community-menu"
               th:if="${session.user != null && session.user.getId() == question.creator}">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                <span>编辑</span>
            </a>
                </div>
            </div>
            <!--回复-->
            <div class="col-lg-12 col-md-12 col-sm-9 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-9 col-xs-12">
                <h4 style="margin-top: 20px">
                    <span th:text="${question.getComment_count()}"></span>个回复
                    <HR align=center width="100%" color=#fffff SIZE=2 class="col-lg-12 col-md-12 col-sm-9 col-xs-12"
                        style="margin: 5px">
                </h4>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-9 col-xs-12 comments" th:each="comment:${comments}">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-rounded" th:src="${comment.user.avatar_url}">
                            </a>
                        </div>
                        <div class="media-body" th:id="${'comment-body-'+comment.id}">
                            <h5 class="media-heading" style="margin-top: 12px">
                                <span th:text="${comment.user.getName()}" style=""></span>
                            </h5>
                            <!--得到评论内容-->
                            <div th:text="${comment.getContent()}"></div>
                            <div style="margin-top: 10px" class="comment">
                                <span class="glyphicon glyphicon-thumbs-up icon"></span>
                                <span onclick="collapseComments(this)" class="icon" th:data-id="${comment.id}">
                                &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-comment"></span>
                                <span th:text="${comment.getComment_count()}"></span>
                                    </span>
                                <span class="pull-right"
                                      th:text="${#dates.format(comment.gmt_create,'yyyy-MM-dd HH:mm')}"></span>
                            </div>
                            <!--二级评论-->
                            <div class="col-lg-12 col-md-12 col-sm-9 col-xs-12 collapse sub-comment" th:id="${'comment-'+comment.id}">

<!--                                <div class="col-lg-12 col-md-12 col-sm-9 col-xs-12 comments" th:each="comment:${comments}">-->
<!--                                    <div class="media">-->

<!--                                        <div class="media-left">-->
<!--                                            <a href="#">-->
<!--                                                <img class="media-object img-rounded" th:src="${comment.user.avatar_url}">-->
<!--                                            </a>-->
<!--                                        </div>-->
<!--                                        <div class="media-body">-->
<!--                                            <h5 class="media-heading" style="margin-top: 12px">-->
<!--                                                <span th:text="${comment.user.getName()}" style=""></span>-->
<!--                                            </h5>-->
<!--                                            &lt;!&ndash;得到评论内容&ndash;&gt;-->
<!--                                            <div th:text="${comment.getContent()}"></div>-->
<!--                                            <div style="margin-top: 10px" class="comment">-->
<!--                                                <span class="pull-right"-->
<!--                                                      th:text="${#dates.format(comment.gmt_create,'yyyy-MM-dd HH:mm')}"></span>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->

                                <div class="col-lg-12 col-md-12 col-sm-9 col-xs-12">
                                    <input type="text" placeholder="评论一下~~~" class="form-control" th:id="${'input-'+comment.id}">
                                    <button type="button" class="btn btn-success" onclick="comment(this)" th:data-id="${comment.id}">评论</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-9 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-9 col-xs-12">
                <h4 style="margin-top: 20px">
                    提交回复
                </h4>
                </div>
                <!--            回复输入框-->
                <div class="col-lg-12 col-md-12 col-sm-9 col-xs-12" id="comment_section">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-rounded" th:src="${question.user.avatar_url}">
                            </a>
                        </div>
                        <div class="media-body">
                            <span>  </span>
                            <h5 class="media-heading" style="margin-top: 12px">
                                <span th:text="${question.user.getName()}" style=""></span>
                            </h5>
                        </div>
                    </div>
                    <input type="hidden" th:value="${question.id}" id="question_id">
                    <textarea class="form-control" rows="6" style="margin: 8px 0px" id="comment_content"></textarea>
                    <button type="button" class="btn btn-success" style="float: right;margin: 8px 0" onclick="post()">回复
                    </button>
                </div>
            </div>
        </div>
        <!--右边信息框-->
        <div class="col-lg-3 col-md-12 col-sm-3 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-3 col-xs-12">
                <h3>发起人</h3>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-circle" th:src="${question.user.avatar_url}">
                        </a>
                    </div>
                    <div class="media-body">
                        <span>  </span>
                        <h5 class="media-heading" style="margin-top: 12px">
                            <span th:text="${question.user.getName()}" style=""></span>
                        </h5>
                    </div>
                </div>
                <!--相关图片资源-->
                <HR align=center width="100%" color=#fffff SIZE=2 class="col-lg-12 col-md-12 col-sm-9 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-9 col-xs-12">
                    <h4>picture</h4>
                    <img style="width: 100%" class="img-thumbnail" src="/images/background.jpg" />
                </div>
                <!--相关问题-->
                <HR align=center width="100%" color=#fffff SIZE=2 class="col-lg-12 col-md-12 col-sm-9 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-3 col-xs-12">
                    <h3>相关问题</h3>
                    <ul id="question-related">
                        <li th:each="related:${relatedQuestions}">
                            <a th:href="@{'/question/'+${related.id}}" th:text="${related.title}"/>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
